workflow_simple_telegram_openai_docs (1).json
{
  "nodes": [
    {
      "id": "1",
      "parameters": {},
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "id": "2",
      "parameters": {
        "format": "resolved",
        "options": {}
      },
      "name": "Gmail Trigger (IMAP Email)",
      "type": "n8n-nodes-base.imapEmailTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "id": "3",
      "parameters": {
        "functionCode": "return [{\n  json: {\n    message: $json.text || $json.textPlain,\n    channel: $node[\"Telegram Trigger\"] ? \"Telegram\" : \"Gmail\",\n    sender: $json.from || $json.from.email,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Unificar mensaje",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "id": "4",
      "parameters": {
        "model": "gpt-3.5-turbo",
        "temperature": 0.6,
        "messages": [
          {
            "role": "user",
            "content": "Eres un asistente virtual de atención al cliente y ventas. Tu tarea es analizar el siguiente mensaje y clasificarlo en una de las siguientes categorías: 'venta', 'consulta', 'queja', 'spam'. Luego, genera una respuesta profesional y amable. Devuelve la salida en formato JSON:\n\nMensaje: {{ $json.message }}\n\nCanal: {{ $json.channel }}\n\nSalida esperada:\n{\n  \"clasificacion\": \"consulta\",\n  \"respuesta\": \"¡Hola! Gracias por contactarnos. ¿En qué podemos ayudarte hoy?\"\n}"
          }
        ]
      },
      "name": "Clasificación AI",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "id": "5",
      "parameters": {
        "propertyName": "clasificacion",
        "dataType": "string",
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.clasificacion }}",
              "operation": "contains",
              "value2": "venta"
            }
          ]
        }
      },
      "name": "Es venta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "id": "6",
      "parameters": {
        "documentName": "={{ $json.channel }}/{{ $json.clasificacion }}",
        "content": "Mensaje: {{ $json.message }}\nRespuesta: {{ $json.respuesta }}\nRemitente: {{ $json.sender }}\nFecha: {{ $json.timestamp }}",
        "options": {}
      },
      "name": "Guardar en Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "id": "7",
      "parameters": {
        "chatId": "={{ $json.sender }}",
        "text": "={{ $json.respuesta }}"
      },
      "name": "Responder Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "id": "8",
      "parameters": {
        "fromEmail": "tu_correo@gmail.com",
        "toEmail": "={{ $json.sender }}",
        "subject": "Re: Tu mensaje",
        "text": "={{ $json.respuesta }}"
      },
      "name": "Responder Gmail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Unificar mensaje", "type": "main", "index": 0 }]]
    },
    "Gmail Trigger (IMAP Email)": {
      "main": [[{ "node": "Unificar mensaje", "type": "main", "index": 0 }]]
    },
    "Unificar mensaje": {
      "main": [[{ "node": "Clasificación AI", "type": "main", "index": 0 }]]
    },
    "Clasificación AI": {
      "main": [
        [{ "node": "Es venta?", "type": "main", "index": 0 }],
        [{ "node": "Guardar en Google Docs", "type": "main", "index": 0 }]
      ]
    },
    "Es venta?": {
      "main": [
        [{ "node": "Responder Telegram", "type": "main", "index": 0 }],
        [{ "node": "Responder Gmail", "type": "main", "index": 0 }]
      ]
    }
  }
}
