workflow_simple_telegram_openai_docs (1).json
{
  "name": "Bot Telegram + OpenAI (Versi\u00f3n de Prueba)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst message = $json.message.text;\nconst userId = $json.message.chat.id;\nconst userName = $json.message.from.first_name || \"Desconocido\";\n\nreturn [{\n  message,\n  userId,\n  userName\n}];\n"
      },
      "name": "Preparar mensaje",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "prompt": "Eres un asistente de ventas amable, claro y profesional. Responde al siguiente mensaje considerando t\u00e9cnicas de ventas (AIDA), y si es una oportunidad de venta, orienta a agendar una llamada, enviar un PDF, o continuar por este medio.\n\nMensaje del usuario:\n{{ $json[\"message\"] }}\n\nServicios disponibles:\n1. Desarrollo Web a medida.\n2. Automatizaci\u00f3n con n8n.\n3. Consultor\u00eda en Productividad Digital.\n\nResponde de forma persuasiva pero sin sonar forzado.\n",
        "temperature": 0.7,
        "maxTokens": 300
      },
      "name": "OpenAI - Generar Respuesta",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst respuesta = $node[\"OpenAI - Generar Respuesta\"].json.choices[0].text;\nreturn [{\n  ...$json,\n  respuesta\n}];\n"
      },
      "name": "Adjuntar respuesta",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"userId\"]}}",
        "text": "={{$json[\"respuesta\"]}}"
      },
      "name": "Enviar a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentName": "Conversacion_Telegram_{{$json[\"userId\"]}}",
        "content": "\n\ud83d\udd52 Fecha: {{$now}}\n\ud83d\udc64 Usuario: {{$json[\"userName\"]}}\n\ud83d\udcac Mensaje: {{$json[\"message\"]}}\n\ud83e\udd16 Respuesta: {{$json[\"respuesta\"]}}\n\n---\n"
      },
      "name": "Guardar en Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3",
          "name": "Google Docs Account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Preparar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje": {
      "main": [
        [
          {
            "node": "OpenAI - Generar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generar Respuesta": {
      "main": [
        [
          {
            "node": "Adjuntar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar respuesta": {
      "main": [
        [
          {
            "node": "Enviar a Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "UTC"
  },
  "active": false
}